[user]
	name = E.J. Dyksen
	email = ej@dyksen.net
	signingkey = BE144C14AF9312A0
[color]
	ui = true
[core]
	excludesfile = ~/.gitignore_global
	quotepath = false
	editor = vim
	autocrlf = input
	pager = diff-so-fancy | less --tabs=4 -RFX
[alias]
  tree = log --graph --decorate --pretty=oneline --abbrev-commit
[github]
	user = ejdyksen
[difftool]
  prompt = false
[push]
	default = simple
[pull]
	rebase = false
	ff = only
