[user]
	name = E.J. Dyksen
	email = ej@dyksen.net
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEBg1zyzEOeJKYDwTnGEYiCd/6uj2ZpMlShhyZX+9OS6
[color]
	ui = true
[core]
	excludesfile = ~/.gitignore_global
	quotepath = false
	editor = vim
	autocrlf = input
	pager = ~/.dotfiles/bin/git-pager.sh
[init]
	defaultBranch = main
[interactive]
	diffFilter = delta --color-only
[delta]
  navigate = true
[alias]
  tree = log --graph --decorate --pretty=oneline --abbrev-commit
[github]
	user = ejdyksen
[push]
	default = simple
[pull]
	rebase = false
	ff = only

[include]
	path = ~/.dotfiles/.gitconfig_local
