# Don't commit SSH keys, without git add -f
ssh/

# Don't commit local config
*.local
*.platform

# zsh specific
.antidote/
.zcompcache/
.zsh_sessions/
.zcompdump*
.zsh_history
.zsh_plugins.zsh
*.bak
*.local.zsh
*.zwc
*.zwc.old
~*
